.searchSection {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.searchInput {
  outline: none;
  border-radius: 10px;
  border-color: rgba(6, 155, 241, 0.813);
  padding-left: 10px;
}

.buttonSearch {
  display: none;
}
