<h2 class="title">Gifs</h2>
<!-- <app-input /> -->
<div class="searchSection">
  <form (ngSubmit)="onSearch()">
    <input
      class="searchInput"
      type="text"
      [(ngModel)]="searchTerm"
      name="search"
      placeholder="Buscar..."
    />
    <button type="submit" class="buttonSearch">Buscar</button>
  </form>
</div>
<section class="container-page">
  @if(gifResults$ | async; as resultObject){ @for(gif of resultObject; track
  gif.id){
  <app-card>
    <h3>{{ gif.title }}</h3>
    <img src="{{ gif.images.fixed_width_downsampled.url }}" alt="" />
  </app-card>
  } }
</section>
